p{
    color: aqua;
    background-color: yellow;
    border-color: green;
}
.pp{
    color: rgb(78, 153, 153);
    background-color: rgba(255, 255, 0, 0.24);
    border-color: rgb(255, 30, 0);
}
button{
    color:black;
    background-color: brown;
    border-color: navy;
}
.bb{
    color: rgb(122, 10, 89);
    background-color: rgb(255, 255, 0);
    border-color: rgb(0, 0, 0);
}
h1{
    color:chocolate;
    background-color: blueviolet;
    border-color: navajowhite;
}
.hh{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 26, 255);
    border-color: rgb(255, 0, 242);
}